.header {
    position: absolute;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 82%;
}

.header__collapsed {
    position: absolute;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
}

.login__block {
    display: flex;
    justify-content: center;
    align-items: center;
    .user__img {
        margin-right: 15px;
        position: relative;
        transform: translateY(25%);
        top: -25%;
    }
    .user__avatar {
        position: relative;
        transform: translateY(25%);
        top: -25%;
    }
}


.login__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}