.menu {
    grid-area: m;
    background-color: #7575ee;
    .menu__body {
        display: flex;
        justify-content: center;
        align-items: center;
        .menu__list {
            display: flex;
            flex-direction: column;
            padding: 50px 0;
            li {
                margin-top: 15px;
                // &:last-child {
                //     margin-top: 100px;
                // }
                &:nth-child(5) {
                    margin-top: 60px;
                }
                .menu__link {
                    font-size: 28px;
                    font-weight: 600;
                    color: white;
                    &.active {
                        color: gold;
                    }
                    @media (min-width: 992px) {
                        background-image: 
                        linear-gradient(
                            transparent 0%,
                            transparent 90%,
                            white 90%,
                            white 100%
                            );
                        background-repeat: no-repeat;
                        background-size: 0% 100%; 
                        background-position-x: right;
                        transition: background-size .8s;
                        &:hover {
                            background-size: 100% 100%;
                            background-position-x: left;
                        }
                    }
                }
            }
        }
    }
}