input,
textarea {
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

.error__message_profile {
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 8px;
    margin-top: 8px;
    text-align: left;
    margin-left: 5px;
}

.input__field {
    width: 250px;
    @media (max-width: 390px) {
        width: 200px;
    }
    @media (max-width: 330px) {
        width: 150px;
    }
}

.edit__contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        .input__contact {
            &::placeholder {
                color: black;
                opacity: .6;
            }
        }
    }
}