.login {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        font-size: 30px;

        input {
            font-size: 20px;
            border: 1px solid black;
            margin-top: 40px;

            &:focus {
                border: 3px solid #3b85fc;
            }
        }

    }
}

.error__message_login {
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
    text-align: left;
}